@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* CSS UNTUK NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333;
  color: #fff;
}

.navbar-log {
  font-size: 20px;
}

/* CSS UNTUK WRAPPER */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

/* CSS UNTUK LOGIN BOX */
.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 35px 0;
  border-bottom: 1px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
}

/* PESAN ERROR DAN SUKSES */
.error-message {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.76);
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

.success-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 80, 7, 0.37);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  display: none;
  justify-content: center;
  height: 50px;
}

.success-message button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(2, 173, 16, 0.658);
  color: rgb(236, 236, 236);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 32px;
  height: 30px;
  justify-content: center;
}

.success-message button:hover {
  background: rgba(88, 255, 102, 0.37);
  color: rgb(255, 255, 255);
}

/* TOMBOL */
button {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  font-weight: 500;
}

/* CSS UNTUK ORDER */
.navbar-or {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

.navbar-or:hover {
  color: #82b5df;
}

.navbar-left-or {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  transition: .3s;
}

.navbar-link:hover {
  color: #82b5df;
}

/* FORMULIR PESANAN */
.orderForm {
  width: 400px;
  padding: 20px;
  background: #000c0ec5;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  color: whitesmoke;
}

.orderForm h2 {
  margin-bottom: 5px;
  cursor: pointer;
  transition: .3s;
}

.h2-order:hover {
  color: #82b5df;
}

/* ITEM DALAM FORMULIR */
h4 {
  margin-top: 6px;
  cursor: pointer;
}

h4:hover {
  color: #82b5df;
}

.item {
  width: 100%;
  margin: 1px;
  border-bottom: 1px solid #747171b7;
  background-color: #000000bd;
  display: flex;
  align-items: center;
  color: #e26e40;
  transition: .3s;
  cursor: pointer;
}

.item:hover {
  background-color: #000000cb;
  color: #a9cce9;
}

.itemName {
  flex: 1;
  margin-right: 20px;
}

.itemCheckbox {
  margin-right: 8px;
  cursor: pointer;
}

/* TOMBOL BATAL */
#cancelButton {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  height: 40px;
  width: 100px;
}

#cancelButton:hover {
  background-color: #c82333;
}

/* FOOTER */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}